@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Results:</h1>
@if (ViewBag.searchedJobs == null)
{
    <h3>No results</h3>
}
else
{
    @foreach (var job in ViewBag.searchedJobs)
    {
        <table class="job-listing">
            <tr>
                <td>ID: @job.Id</td>
            </tr>
            <tr>
                <td>Name: @job.Name</td>
            </tr>
            <tr>
                <td>Employer: @job.Employer</td>
            </tr>
            <tr>
                <td>Location: @job.Location</td>
            </tr>
            <tr>
                <td>Position Type: @job.PositionType</td>
            </tr>
            <tr>
                <td>Skill: @job.CoreCompetency</td>
            </tr>
        </table> 
        <br/>
        }   
}